<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="Infragistics4.Web.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Infragistics4.WebUI.Documents.Reports.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Infragistics4.WebUI.Documents.Excel.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics4.WebUI.Documents.Word.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics4.WebUI.Documents.IO.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics4.Web.jQuery.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics4.WebUI.Misc.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics4.WebUI.Shared.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics4.WebUI.UltraWebCalcManager.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics4.WebUI.UltraWebGauge.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics4.WebUI.UltraWebChart.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics4.WebUI.WebHtmlEditor.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Infragistics4.WebUI.WebDataInput.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics4.WebUI.WebSchedule.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics4.WebUI.WebResizingExtender.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics4.WebUI.WebScheduleDataProvider.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics45.Web.jQuery.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics45.Web.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics45.WebUI.Documents.Reports.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics45.WebUI.Documents.Excel.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics45.WebUI.Documents.Word.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics45.WebUI.Documents.IO.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics45.WebUI.UltraWebGauge.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics45.WebUI.Shared.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics45.WebUI.UltraWebCalcManager.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics45.WebUI.Misc.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics45.WebUI.UltraWebChart.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics45.WebUI.WebScheduleDataProvider.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics45.WebUI.WebSchedule.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics45.WebUI.WebResizingExtender.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics45.WebUI.WebHtmlEditor.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics45.WebUI.WebDataInput.v15.1, Version=15.1.20151.1018, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>